.gameContainer {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: white;
}

.gameOverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOverContainer button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgreen;
    transition: all 0.2s ease-in-out;
}
.gameOverContainer button:hover {
    background-color: green;
}


.mazeGrid {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.mazeRow {
    display: flex;
}

.mazeCell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
     position: relative;

}

.wall {
  background-color: rgba(128, 128, 128, 0.5); /* Dark gray for the wall */
     background-image: url('./assets/wall.jpg');
     background-size: cover;
}
.exit {
    position: relative;
}
.exitImg {
    width: 25px;
}
.player {
    position: relative;
    /*transform: perspective(500px) rotateX(30deg);*/
}
.playerImg {
    width: 25px;
    height: 25px;
   /* transform: translateZ(15px);*/
}

.cobweb {
    position: absolute;
   width: 30px;
    opacity: 0.5;
}
.candle {
    width: 20px;
    position: absolute;
    animation: flicker 1.5s infinite;
}

@keyframes flicker {
    0% { opacity: 0.7; }
    50% { opacity: 1; }
    100% { opacity: 0.7; }
}