.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.fishingCanvas {
    border: 1px solid #000;
    background: #e0f7fa;
    border-radius: 5px;
    cursor: crosshair;
}