.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.levelButtons{
    display: flex;
    gap: 10px;

}
.levelButtons button {
  padding: 10px 20px;
  background-color: #eee;
    border: none;
    cursor: pointer;
}

.levelButtons button:hover {
    background-color: #ddd
}

.activeLevel {
  background-color: #ff9900 !important;
}
.playButton{
   padding: 10px 20px;
  background-color: #ff9900;
    border: none;
    cursor: pointer;
}
.playButton:hover{
    background-color: #ffc107
}