.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #1e40af; /* Keeping your existing color */
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensures navbar stays above content */
  opacity: 0.9;
}
  
.gameBtn {
  font-size: 1.25rem; /* Text size for Game Hub */
  font-weight: normal;
  color: white;
}

.navLink {
  text-decoration: none; /* Example to override if needed */
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}
  
.back{
  color: white;
  font-size: 1.25rem; 
  font-weight: normal;
  margin-left: -10%;
}

.leaderBtn{
  font-size: 1.25rem; /* Text size for Game Hub */
  font-weight: normal;
  color: white;
  margin-left: -15ex;
}
  