/* BubbleShooter.module.css */

#game17canvas {
    margin: 50px  auto;
    border-radius: 5px;
    display: flex;
    bottom: 0;
}

.gameContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}